modules = ["nodejs-20", "bash", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "NODE_ENV=production node dist/index.js"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
author = 42548514
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
